.container {
    width: 340px;
    height: 420px;
    border-radius: 3px;
    border: 1px solid white;
    padding: 40px 50px;
    background-color: skyblue;
}

.my-result {
    display: flex;
    justify-content: flex-end;
    color: white;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
