.fullscreenDiv {
  border: 3px solid #47476b;
  background: black;
  width: 380px;
  position: relative;
}

.buttons-container {
  margin: 1rem;
}

.row-buttons {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.title {
  color: white;
  text-align: center;
  font-size: 2rem;
  
}
